<?php
/**
 * @author      Jurian Sluiman <jurian@soflomo.com>
 * @copyright   2013 Jurian Sluiman.
 * @license     http://www.opensource.org/licenses/bsd-license.php  BSD License
 * @link        http://github.com/Soflomo/LocalScript
 */

return array(
    'soflomo_local_script' => array(
        /**
         * A listing of all the files to be injected
         *
         * Use the full source value to be injected, the array
         * can contain zero, one or multiple items.
         */
        'files' => array(
            'http://192.168.1.152:3000/socket.io/socket.io.js',
            'http://192.168.1.152:3001/browser-sync-client.min.js'
        ),

        /**
         * Either inject the scripts into the head or inline
         *
         * Accepted values are "inlineScript" and "headScript" where
         * inline is the default behaviour.
         */
        'helper' => 'inlineScript'
    ),
);
